@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-normal-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

/* shared links */
.display-link{
    display: flex;
}

.section-width{
    width: 75%;
    margin: 0 auto;
}
.nav-color0{
    color: #FEA301;
}
.nav-color1{
    color: #01ACFD;
}
.nav-color2{
    color: #05D4DF;
}
.nav-color3{
    color: #5D58EF;
}

header{
    margin-bottom: 60px;
}
.navbar{
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.nav-left{
    align-items: center;
}
.par0{
    font-size: 2rem;
    font-weight: bold;
}
.nav-links .nav-items{
    list-style: none;
}
.nav-links .nav-link{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    
}
.nav-right .btn-primary{
        color: aliceblue;
        background-color: #FEA301;
        padding: 10px 60px;
        border: none;
        border-radius: 12px;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s;
}
.btn-primary:hover{
    background-color: #9a6813;
}

.banner-container{
    align-items: center;
    justify-content: center;
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner-image img{
    width: 470px;
}

.head0{
    font-size: 3.5rem;
    font-weight: 700;
}
.par1{
    font-size:1.25rem;
    margin:1.5rem 0;
}
.btn0{
    color: white;
    background-color: black;
    font-size: 1.25ren;
    padding: 10px 47px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
} 
.btn0:hover{
    background-color: rgba(29, 15, 15, 0.586);
}
.menu-bar{
    display: none;
    font-size: 25px;
}

#click{
    display: none;
}

/* main section has started */
main{
    background-image:url('./assets/bg.png');
    width: 100%;
}
.Curriculum-Parent{
    margin-bottom: 80px;
}

.Curriculum-Parent .head1{
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.Curriculum-Cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.head2{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 32px 0;
}
.par2{
    font-size: 1rem;
    margin-bottom: 32px;
    color: #808080;
}
.btns{
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color:white;
}
.Cards-Child0{
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    background: linear-gradient(rgba(0, 255, 255, 0.04) 1%,white);
    box-shadow: 1px 1px 5px;
}
.Cards-Child1{
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px;
    background: linear-gradient(rgba(255, 166, 0, 0.077) 0.1%,white);
    
}
.Cards-Child2{
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
    background-color: white;
    background: linear-gradient(#5d58ef17 0.1%,white);
    
}
.circle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 60px;
    
}
.arrow{
    height: 60px;
    width: 60px;
    background-color: #FEA301;
    border-radius: 50%;
    color: white;
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        
}
.arrow i{
    font-size: 1.5rem;
    font-weight: 400;
}

/* Third section has started */
.background-color{
    background: linear-gradient(white,#fea10158);
    padding-bottom: 60px;
}
.Our-Stories{
    margin-bottom: 80px;
}
.head3{
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    margin: 60px 0 80px 0;
}

.Stories-cantainer{
   justify-content: center;
   align-items: center;
   gap: 18px;
}
.Stories-left{
    height: 630px;
    max-width: 540px;
    box-shadow: 0.5px 0.5px 5px;
    border-radius:1rem;
    background-color: white;
}
.imgages .img3{
     height: 175px;
     width: 290px;
}
.imgages .img2{  
    border-radius:1rem 1rem 0 0 ;
}
.imgages .btn2{
    position: relative;
    left: 80px;
    top: -25px;
    padding: 15px 20px;
    background-color:#01ACFD;
    border: none;
    color: white;
    border-radius: 48px;
    font-weight: 500;
    font-size: 1rem;
}


.head4{
    margin: 0 38px 48px 38px;
    font-size: 1.5rem;
    font-weight: 700;
    

}
.par3{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    margin: 0 68px 38px 38px;
   
}
.Stories-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    height: 620px;
    
}
.four-Stories{
   border-radius: 1rem;
   box-shadow: 0.2px 0.2px 4px;
   background-color: white;
}
.imgages .img3{
    border-radius: 1rem 1rem 0 0;
}
.btn3{
    position: relative;
    left: 50px;
    top: -20px;
    padding: 10px 15px;
    color: white;
    font-size: 1rem;
    background-color: #95B226;
    font-weight: 500px;
    border: none;
    border-radius: 48px;
}
.par4{
    font-size: 1rem;
    font-weight: 700;
    margin:0 38px;
}
.btn5{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    
}
.btn4{
    color: white;
    background-color: black;
    padding: 10px 60px;
    font-size: 1.25rem;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0.1s;
    
}
.btn4:hover{
     background-color: rgba(62, 56, 56, 0.586);
}

/* Footer section has started */
.footer-tag{

    background-color: #01ACFD;
}
.educational{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    gap: 205px;
    padding: 125px 230px 175px 140px;
}
.title1{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.title1 .img5{
    font-size: 42px;
    
}
.title1 .head6{
    font-size: 2.6rem;
}
.par5{
    font-size: 1.25rem;
    
}

.head7{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-ul .footer-li{
    list-style: none;
}
.footer-ul .footer-ancor{
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
}

.head8{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.icons{
    display: flex;
    gap: 10px;
}
/* Using media query for Responsive website */
@media only screen and (max-width:576px) {
        .navbar{
           justify-content: space-between;
           border-bottom: 1px solid orange;
           padding:0 10px 10px 10px;

        }
      
         .nav-links,
         .nav-right{
            position: fixed;
            top: 85px;
            height: 100vh;
            left: -100%;
            background-color:bisque;
            width: 100%;
            flex-direction: column;
            text-align: center;
            padding: 20px;
            transition: all 0.5s ease 0.1s;
         }
         
         .nav-links .nav-items{
            margin: 40px 0;
         }
         .menu-bar{
            display: block;
          
         }
         #click:checked ~ .menu-bar i::before{
            content: "\f00d";
         }
         #click:checked ~ .nav-links{
            left: 0%;
            font-size: 30px;
         }
         .par0{
            display: none;
         }
         .head0{
            font-size: 2rem;
            
         }
         .par1{
           font-size: 0.9rem;
         }
         .banner-image img{
            width: 95%;
         }
         .banner-container{
            flex-direction: column-reverse;
            text-align: center;
            
        }
        .Curriculum-Parent .head1{
            font-size: 1.6rem;
            margin-bottom: 20px;
        }
        .Curriculum-Cards{
            grid-template-columns: 1fr;
        }
        .circle-btn{
            display: none;
        }
        .Stories-left{
            display: none;
        }
        .head3{
            font-size: 1.6rem;
            margin-bottom: 20px;
        }
        .Stories-right{
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        .imgages{
            width: 100%;
        }
        .imgages .img3{
            
            width: 100%;
        }
        .btn3{
          font-size: 0.5rem;
        }
        .par3{
            font-size:0.5rem;
        }
        .btn5{
           
            margin-bottom: 40px;
        }
        .footer-tag{
           max-width: 100%;
        }
        .educational{
            width:100%;
            flex-direction: column;
            padding:65px 0 60px 16px;
            gap: 32px;
        }
        .title1 .img5{
            font-size: 1.5rem;
        }
        .title1 .head6{
            font-size: 1.8rem;
        }
        .par5{
            font-size: 1rem;
            width: 50%;
        }
        .head7{
            font-size: 1.25rem;
        }
        ul a{
            font-size: 17px;
        }
        .head8,.icons{
            font-size: 1.4rem;
        }  
        
        
}